<div class="container text-danger bg-info">
  <h1>My BANK</h1><br>
  
  <nav>
    <a routerLink="/accounts" routerLinkActive="active" ><span class="text-black" style="font-size: 30px;">Show all accounts list</span></a><br><br>
    <a routerLink="/accounts/create" routerLinkActive="active"><span class="text-black" style="font-size: 30px;">Create new Account</span></a><br><br>
    <a routerLink="/accounts/edit/:id" routerLinkActive="active"><span class="text-black" style="font-size: 30px;">Edit Account</span></a>
  </nav>
  <hr>
  </div>
  <br><br>
  
  <router-outlet></router-outlet>
  
  <app-account-create></app-account-create>
  <app-account-edit></app-account-edit>
  <app-account-list></app-account-list>